<div class="note">
  <p><%= note.note %></p>
  <p><%= note.user.email %></p>

  <% if current_user.have_note?(note) %>
    <form action="<%= note_url(note.id) %>" method="post">
      <%= csrf_token %>
      <input type="hidden" name="_method" value="delete">
      <button>Destroy</button>
    </form>
  <% end %>

</div>