<form action="<%= band_path(@id) %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="band">Name</label>
  <input id="band" type="text" name="band[name]" />

  <button>Edit</button>
</form>